div.outline {
    border: 1px solid #aaa;
    padding: 1px;
    float: left;
}

input.spin-decimal {
    margin: 0;
    padding: 0 6px;
    text-align: right;
    border: medium none;
    width: 60px;
    font-weight: normal;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #444;
}

a.up {
    display: block;
    height: 9px;
    width: 15px;
    background: #ccc url(../images/vista-up.gif);
}

a.up:hover {
    background: #ccc url(../images/vista-up-hover.gif);
}

a.dn {
    margin-top: 1px;
    display: block;
    height: 9px;
    width: 15px;
    background: #ccc url(../images/vista-dn.gif);
}

a.dn:hover {
    background: #ccc url(../images/vista-dn-hover.gif);
}